body{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial;
    font-weight: bold;
    background-image: url("https://images.axios.com/Sx5BclO5J9YlC4m1FChQ25MbMac=/0x568:5760x3808/1920x1080/2018/04/03/1522766252447.jpg");
    background-size: 100vw 100vh;
    color: black;
    font-size: 1vw;
}

button{
    background-color: green;
    color: white;
    height: 10vh;
    width: 10vw;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 1vh;
    font-size: 1vw;
}

.main{
    margin: 20vh 25vw;
    height: 50vh;
    width: 40vw;
    background-color: #ffe08f;
    border: solid 2px black;
}

.btns-cont{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    width: 40vw;
}

.btns-left{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 20vw;
    margin-left: 6vw;
    justify-content: flex-start;
}

.btns-right{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 20vw;
    justify-content: flex-start;
/*    margin-right: 1vw;*/
}

h3{
    display: flex;
    justify-content: center;
}

#exit{
    height: 10vh;
    width: 40vw;
    display: flex;
    justify-content: center;
}

#exitBtn{
    height: 8vh;
    margin-top: 1vh;
    margin-right: 1vw;
    background-color: red;
}
.error{
    color: red;
}


